/* #FFBE0F #E8970E #FF8C1B #E85B0E #FF410F */

* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

html, body {
	padding:0;
	margin:0;
	background-image: url("../.././images/fundo.jpg");
	background-repeat: repeat;
}

.container {
	margin: 0 auto;
	max-width: 980px;
}

.cabecalho .container {
	display: flex;
	justify-content: space-between;
}

.cabecalho {
	position: fixed;
  top: 0;
  right:0;
  left:0;
  z-index: 1;
	background-image: linear-gradient(to right,#FF410F, #FFBE0F  );
}

.title {
	margin:0;
	padding:0;
	font-size: 2rem;
	padding: 1rem;
	color: white;
}

.header-menu {
	

}

.header-menu ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.header-menu li {
	padding: 0 1rem;
}


.header-menu img {
	height:3rem;
}

.sub-header-menu {
	margin-top: 5.5rem;
	display: flex;
	justify-content: space-between;
}

.menu-botoes {
	width: 24.9%;
	border: solid #E85B0E 2px;
	background-color: #E85B0E;
	border-radius: 5px;
	font-size: 1rem;
	color: white;
	padding:0.2rem;
}

.menu-botoes:hover {
	background-color: #FF8C1B;
}

.main .container {
	
	margin-top:2px;
	background-color: #eee;
	height: 1000px;
	border: solid #E85B0E 2px;
	border-radius: 5px;
	padding:0.3rem 1rem;
}





footer {
	height: 5rem;
	background-color: #555
}